<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://code.google.com/p/helianthus-annuus/" version="${AN_VERSION}">
  <name>Helianthus.annuus</name>
  <description>:o)</description>
  <author href="http://code.google.com/p/helianthus-annuus/">Project.Helianthus</author>
  <icon src="icons/icon-64.png"/>
</widget>
